@font-face {
  font-family: "iconfont";
  /* Project id 3494990 */
  src: url('../font/iconfont.woff2?t=1657200963620') format('woff2'),
    url('../font/iconfont.woff?t=1657200963620') format('woff'),
    url('../font/iconfont.ttf?t=1657200963620') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon:before {
  content: "\e68e";
}

.icon-yu:before {
  content: "\e63e";
}

.icon-guanbi:before {
  content: "\e600";
}

.icon-huifu:before {
  content: "\e66f";
}

.icon-dianzan_kuai:before {
  content: "\ec8c";
}

.icon-shoucang:before {
  content: "\e8c6";
}

.icon-gonggao:before {
  content: "\e6c0";
}

.icon-shuaxin:before {
  content: "\e626";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-erweima:before {
  content: "\e65f";
}

.icon-douban:before {
  content: "\e7a1";
}

.icon-shouye:before {
  content: "\e635";
}

.icon-chakantiezihuifu:before {
  content: "\e663";
}

.icon-tianjia:before {
  content: "\e622";
}

.icon-wenjian:before {
  content: "\e631";
}

.icon-morentouxiang:before {
  content: "\e62f";
}

.icon-tiezi:before {
  content: "\e636";
}

.icon-icon-:before {
  content: "\e627";
}

.icon-icon_fabu:before {
  content: "\eb88";
}

.icon-chengshi:before {
  content: "\e659";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-xiaoxi:before {
  content: "\e64f";
}

.icon-jishiben:before {
  content: "\e69f";
}